.hero {
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.hero .right {
    max-width: 570px;
    font-family: Manrope;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .right h2 {
	font-size: 72px;
    font-weight: 800;
    margin-bottom: 16px;
}

.hero .right button {
	background: #8c30f5;
	height: 62px;
	width: 196px;
	border-radius: 8px;
	border: none;
	color: #ffffff;
	font-size: 20px;
	text-align: center;
}

.hero .right p {
    margin-top: 0;
    margin-bottom: 32px;
}
 
.hero .left {
    max-width: 524px;

}